<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore-restaurants">
      <ion-icon size="medium" name="home-outline" style="display: flex;justify-content: center;align-items: center;"></ion-icon>
      <small>Home</small>
    </ion-tab-button>
    <ion-tab-button tab="booking-details">
      <ion-icon size="medium" name="calendar-outline" style=" display: flex;justify-content: center;align-items: center;"></ion-icon>
      <small>Bookings</small>
    </ion-tab-button>
    <ion-tab-button tab="my-user-profile">
      <ion-icon size="medium" name="person-outline" style=" display: flex;justify-content: center;align-items: center;"></ion-icon>
      <small>Profile</small>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>