
 <ion-toolbar>
    <ion-title>Dine Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">

    <ion-title class="ion-text-center custom-font">dinehome</ion-title>

    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <div class="background">
    <h1>Welcome to The Dine!</h1>
    <p>Your favourite restaurant locator.</p>
    <div style="text-align: center;margin: auto;">
      <ion-button (click)="logOut()" color="light" shape="round">Log out</ion-button>
    
    </div>

  </div>
    

</ion-content>
