.background{
   
    display: flex;
    flex-direction: column;
    background-color: orangered;
    width: 100%;
    height: 100%;
    justify-content: center;
  
  }

  .top{
    display: flex;
    width: 100%;
    height: 95%;
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }

  // ion-button{
  //   // margin-top: 500px;
  //   --background:yellow;
  //   --color:black;
  //   font-family: Josefin Sans;
  // }

  .container-form-btn {
    display: flex;
    justify-content: center;
}

ion-card{
    // --background: yellow;
    width:90%;
    height: 30%;
    font-size: 18px;
    margin-top: 20px;
}

ion-label{
  color: black;
  margin-top: 20px;
  margin-left: 20px;
}