<ion-header class="ion-no-border">
  
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-font">bookings</ion-title>
  </ion-toolbar>
</ion-header>

<div class="background">
<ion-content>

  <!-- <on-item>i -->
    <!-- <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime> -->
  <!-- </ion-item> -->

  <p></p>
  <p></p>
  <p></p>
  <p></p>

</ion-content>

</div>
