<!-- <ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-font">bookings</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
<div class="background">
  <ion-buttons>
    <ion-back-button defaultHref="dashboard"></ion-back-button>
  </ion-buttons>

  <h2 style="text-align: center; margin-top: -10px;" >Bookings</h2>

  <div class="top">

  
 

    <!-- <ion-list *ngFor="let a of bookings"> -->

      <ion-card  *ngFor="let a of bookings">
       
          <ion-label>Name: {{a.firstname}}</ion-label>
      <br/>
        
          <ion-label>Email: {{a.email}}</ion-label>
       <br/>
 
          <ion-label>Date: {{a.date | date}}</ion-label>
       <br/>
          <ion-label>Time: {{a.time | date: 'H:mm'}}</ion-label>
       <br/>
          <ion-label>Reservation Type: {{a.reservationtype}}</ion-label>
       <br/>
          <ion-label>Number of guests: {{a.guestnumber}}</ion-label>
     

        <p style="margin-left: 10px;" *ngIf="a.status == 'Pending'">Status: {{a.status}}</p>
        <p style="margin-left: 10px;" *ngIf="a.status == 'Approved'">Status: {{a.status}}</p>
        <p style="margin-left: 10px;" *ngIf="a.status == 'Declined'">Status: {{a.status}}</p>

        <p (click)="status(a.restId, a.uid, 'Pending')"></p>
        <ion-button (click)="status(a.restId, a.uid, 'Approved')" color="success" size="small" shape="round"
          name="selected">Confirm</ion-button>
        <ion-button (click)="status(a.restId, a.uid, 'Declined')" color="danger" size="small" shape="round">Decline
        </ion-button>

      </ion-card>
    <!-- </ion-list> -->
</div>
</div>
  </ion-content>

