
// ion-no-border{
//     background-color:blue;
// }

img{
    width: 80%;
    height:250px;
    margin-left:50px;
    margin-right: 50px;
}

.background-color{
    background-color:#3dc2ff;
    width:100%;

}

ion-back-button{
    margin-left:-50px;
}

ion-menu-button{
    margin-top:30px;
}

// ion-toolbar{
//     --background-color:#3dc2ff;

// }