<!-- <ion-header class="ion-no-border">
  <ion-toolbar> -->

    <!-- <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->


  <!-- </ion-toolbar>

</ion-header> -->


<ion-content>

  <div class="container">
    <h2 style="font-weight: bold;" class="ion-text-center custom-font">Explore Restaurants</h2>

    <div class="top">



    <ion-item (click)="selectVal(item.name)" *ngFor="let item of jsonData">
      {{item.name}}</ion-item>
 

  <ion-card *ngFor="let list of listing">
   
      <img src="{{list.img}}" alt="" [routerLink]="'/view-restaurant/'+list?.restId">
     
    <ion-card-subtitle style="color: black; font-size: 18px;" >{{list.name}} - {{list.address}}</ion-card-subtitle>
  </ion-card>

  </div>

  </div>
</ion-content>