
// ion-no-border{
//     background-color:blue;
// }

img{
    width: 300px;
    height:250px;
    margin-left:50px;
    margin-right: 50px;
}

.background-color{
    background-color:#3dc2ff;
    width:100%;

}

ion-back-button{
    margin-left:-50px;
}

ion-menu-button{
    margin-top:30px;
}

ion-card{
    width: 300px;
    margin-left: 30px;
    // margin-right: 30px;
    justify-content: center;
}

// ion-toolbar{
//     --background-color:#3dc2ff;

// }