.container-form-btn {
    display: flex;
    justify-content: center;
}

ion-button{
    --background:yellow;
    --color:black;
    font-family: Josefin Sans;
  }

  .desc{
      display: flex;
      flex-direction: column;
  }