<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="explore-restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>{{restaurants?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
      <img style="width: 100%; height: 150px;" src="{{restaurants?.img}}" alt="">
    

    <ion-item>
      <ion-label><b>Restaurant Name:</b>  {{restaurants?.name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Registration Number:</b>  {{restaurants?.regnumber}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Address:</b>  {{restaurants?.address}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Email:</b>  {{restaurants?.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label><b>Telephone Number:</b>  {{restaurants?.telephone}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-list *ngFor="let meal of menus">

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{meal.img}}">
      </ion-thumbnail>
      <div class="desc">
        <p><b>Dish name:</b> {{meal.name}}</p>
        <p><b>Price:</b> R{{meal.price}}</p>
      </div>
    </ion-item>

    <!-- <ion-card>
    <ion-item>
      <img src="{{meal.img}}"/>
    </ion-item>

    <ion-item>
      <ion-label>Dish name: {{meal.name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Price: {{meal.price}}</ion-label>
    </ion-item>
  </ion-card> -->

  </ion-list>



  <div class="container-form-btn">
    <ion-button [routerLink]="['/reservation/',restaurants.ownerId]">Book a table</ion-button>
  </div>
</ion-content>

<!-- [routerLink]="'/reservation/'+restaurants?.ownerId"    ["'/reservation/'", this.id]      -->