.top{
    display: flex;
    width: 100%;
    height: 40%;
    background-color: orangered;
    color: white;
    font-size: 24px;
    font-weight: bold;
    // text-align: center;
    // border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
  }

  .items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    // background-color: grey;
    justify-content: center;
    border-top-left-radius: 20%;
    // align-items: center;
    margin-top: -40px;
}

ion-icon{
  color: black;
}