<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-font">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bakground">

  
    <img src="./assets/pic1.jpg"/>

  
</div>

  <div class="ion-padding">

    <form class="ion-padding">

      <div class="wrap-input">
        <input class="input" type="text" name="username" placeholder="Username">
      </div>

      <div class="wrap-input">
        <input class="input" type="password" name="password" placeholder="Password">
      </div>

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Sign In
        </button>
      </div>

      </form>
      </div>

</ion-content>
