<!-- <ion-header class="ion-no-border">
  <ion-toolbar> -->
    <!-- <ion-buttons>
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons> -->
    <!-- <p>Edit Restaurant</p> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="top">
    <ion-buttons>
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
  </div>
  <!-- <div class="container"> -->
    <div class="bottom"></div>

  <div class="ion-padding">

    <form [formGroup]="editRestaurantForm" (ngSubmit)="btnClicked()" class="ion-padding">

      <div class="wrap-input">
        <ion-item>
          <ion-input type="text" formControlName="name" placeholder="Restaurant Name" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="wrap-input">
        <ion-item>
          <ion-input type="number"  formControlName="regnumber" placeholder="Registration Number" maxlength="5" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="wrap-input">
        <ion-item>
          <ion-input type="text" formControlName="email" placeholder="Email" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="wrap-input">
        <ion-item>
          <ion-input type="text" formControlName="address" placeholder="Address" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="wrap-input">
        <ion-item>
          <ion-input type="text" formControlName="telephone" placeholder="Telephone Number" maxlength="10" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="wrap-input">
        <ion-item>
          <ion-input type="file" formControlName="img" accept="image/*" (change)="onselected($event)"></ion-input>
        </ion-item>
      </div>

      <!-- <div class="wrap-input">
        <input class="input" type="password" formControlName="password" name="password" placeholder="Password">
      </div> -->

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Edit Restaurant
        </button>
      </div>

    </form>


  </div>
  <!-- </div> -->


</ion-content>

