<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon size="medium" name="home-outline"></ion-icon>
      <small>Home</small>
    </ion-tab-button>
    <ion-tab-button tab="add-restaurants">
      <ion-icon size="medium" name="add-circle-outline"></ion-icon>
      <small>Add Restaurant</small>
    </ion-tab-button>
    <ion-tab-button tab="owner-profile">
      <ion-icon size="medium" name="document-lock-outline"></ion-icon>
      <!-- <ion-icon size="medium" name="person-outline"></ion-icon> -->
      <small>Manage Accounts</small>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>