<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="daily-dishes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-font">Add Menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="container">

  <div class="container">
    <ion-buttons>
      <ion-back-button defaultHref="daily-dishes"></ion-back-button>
    </ion-buttons>

    <h2 style="text-align: center; font-weight: bold;">Add Menu</h2>

    <div class="bottom">

    <form [formGroup]="menuForm" (ngSubmit)="btnClicked()" class="ion-padding">

      <div class="align">
  
      <div class="wrap-input">

          <ion-input style="margin-top: 20px;" type="text" formControlName="name" placeholder="Dish Name" ngModel required ></ion-input>
    
      </div>
  
      <div class="wrap-input">
   
          <ion-input style="margin-top: 20px;" type="number"  formControlName="price" placeholder="Price" maxlength="3" ngModel required></ion-input>
    
      </div>
  
      <div class="wrap-input">
        
          <ion-input style="margin-top: 20px;" type="file" formControlName="img" accept="image/*" (change)="onselected($event)"></ion-input>
        
      </div>

      </div>
  
      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Add a Dish
        </button>
      </div>
  
    </form>
  
  </div>
  </div>
  

</ion-content>
