
    <div class="buttons">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="view-restaurant"></ion-back-button>
    </ion-buttons>
    </div>

<ion-content>
 <div class="background">

  <div class="ion-padding">

    <form  [formGroup]="reservationForm" (ngSubmit)="submit()" class="ion-padding">


        <ion-label position="floating">
          Name
        </ion-label>
          <ion-input class="input" type="text" formControlName="firstname"></ion-input>
     
      
     
        <ion-label position="floating">
         Lastname
        </ion-label>
            <ion-input class="input" type="text" formControlName="lastname"></ion-input>
      
   
    
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input formControlName="email" inputmode="email"></ion-input>
     


        <ion-label position="floating">
          Phone Number
        </ion-label>
        <ion-input class="input" type="number" formControlName="phone"></ion-input>
      

     
        <ion-label position="floating">
          Number of guests
        </ion-label>
        <ion-input class="input" type="number"  formControlName="guestnumber"></ion-input>
 

      <label>Reservation</label>
      <label>Date:</label>
   
        <ion-label position="floating">MM /DD /YYYY</ion-label>
        <ion-datetime (click)="disableData()" name="CheckIndate"  picker-format="YYYY - MM - DD"
            formControlName="date" placeholder="" ngModel required></ion-datetime>
     

      <label>Time:</label>
     
        <ion-label>hh:mm</ion-label>
        <!-- <ion-datetime displayFormat="HH:mm" formControlName="time" ngModel required></ion-datetime> -->
        <ion-datetime displayFormat=" HH : mm" formControlName="time" ></ion-datetime>
    
      

      <!-- <ion-item>
        <ion-label>Table Reservation:</ion-label>
        <ion-select formControlName="">
          <ion-select-option value="brown">Yes</ion-select-option>
          <ion-select-option value="blonde">No</ion-select-option>
        </ion-select>
      </ion-item> -->

      <label>Reservation Type:</label>
     
        <ion-label>Select</ion-label>
        <ion-select formControlName="reservationtype" ngModel required>
          <ion-select-option value="Dinner">Dinner</ion-select-option>
          <ion-select-option value="Birthday">Birthday/Anniversary</ion-select-option>
          <ion-select-option value="Corporate">Corporate</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
     

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Book a table
        </button>
      </div>

    </form>
  </div>

  </div>


