
    <ion-buttons>
      <ion-back-button defaultHref="view-restaurant"></ion-back-button>
    </ion-buttons>

<ion-content>
 <div class="background">

  <div class="ion-padding">

    <form  [formGroup]="reservationForm" (ngSubmit)="submit()" class="ion-padding">

      <div class="wrap-input">
        <input class="input" type="text"  formControlName="firstname" placeholder="Firstname" ngModel required>
      </div>

      <div class="wrap-input">
        <input class="input" type="text"   formControlName="lastname"  placeholder="Lastname" ngModel required>
      </div>

      <div class="wrap-input">
        <input class="input" type="text"  formControlName="email" placeholder="your@email.com" ngModel required>
      </div>

      <div class="wrap-input">
        <input class="input" type="number" formControlName="phone"   placeholder="Phone"  ngModel required >
      </div>

      <div class="wrap-input">
        <input class="input" type="number"  formControlName="guestnumber"  placeholder="Number of guests"ngModel required>
      </div>

      <label>Reservation</label>
      <label>Date:</label>
      <ion-item>
        <ion-label position="floating">MM / DD /YYYY</ion-label>
        <ion-datetime (click)="disableData()" name="CheckIndate"  picker-format="YYYY - MM - DD"
            formControlName="date" placeholder="" ngModel required></ion-datetime>
      </ion-item>

      <label>Time:</label>
      <ion-item>
        <ion-label>HH:mm</ion-label>
        <!-- <ion-datetime displayFormat="HH:mm" formControlName="time" ngModel required></ion-datetime> -->
        <ion-datetime displayFormat=" HH : mm" formControlName="time" ></ion-datetime>
      </ion-item>
      

      <!-- <ion-item>
        <ion-label>Table Reservation:</ion-label>
        <ion-select formControlName="">
          <ion-select-option value="brown">Yes</ion-select-option>
          <ion-select-option value="blonde">No</ion-select-option>
        </ion-select>
      </ion-item> -->

      <label>Reservation Type:</label>
      <ion-item>
        <ion-label>Select</ion-label>
        <ion-select formControlName="reservationtype" ngModel required>
          <ion-select-option value="Dinner">Dinner</ion-select-option>
          <ion-select-option value="Birthday">Birthday/Anniversary</ion-select-option>
          <ion-select-option value="Corporate">Corporate</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Book a table
        </button>
      </div>

    </form>
  </div>

  </div>


