<ion-header>
  
    <ion-title></ion-title>

</ion-header>



<ion-content>

  <ion-slides style="background-color:#00ffff; color:white" pager="true" [options]="slideOpts">

    <ion-slide id= "background">
      <!-- <p>Our menu listings</p> -->
      <!-- <img src="assets/img/5.jfif" alt="next"> 
      <p>Find your favourite restaurant!</p> -->
      <ion-card>
      
          <img src="assets/img/thava.jpg" alt="next">
      
        <ion-card-subtitle>Find your favourite restaurant!</ion-card-subtitle>
      </ion-card>
    </ion-slide>

   
    <ion-slide id="background">
      <!-- <p>Our Famous dish</p> -->
      <!-- <img src="assets/img/reserve.jfif" alt="" > 
      <p>Book a table.</p> -->
      <ion-card>
        
          <img src="assets/img/reserve.jfif" alt="next">
        
        <ion-card-subtitle>Book a table.</ion-card-subtitle>
      </ion-card>
    </ion-slide>

    <ion-slide id="background">
      <!-- <p>One of our restaurants</p> -->
      <!-- <img src="assets/img/6.jfif" alt="">
      <p>Dine with us!!</p> -->
      <ion-card>
      
          <img src="assets/img/dine.jpg" alt="next">
      
        <ion-card-subtitle>Dine with us!!</ion-card-subtitle>
      </ion-card>
    </ion-slide>

      <div class="container-form-btn">
      <ion-fab slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-forward" (click)="btnClicked()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    

 
  </ion-slides>

</ion-content>