
ion-slides {
    height: 100%;
  }

  .container-form-btn{
    display:flex;
    justify-self: end;
    margin-top: 500px;
    margin-left: -80px;
    float: left;

  }

  #background p{
    display:flex;
    flex-direction: row;
    margin-bottom:400px;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
  }

  #background img{
    // width:400px;
    height:200px;
    margin-left:20px;
  }

  p{
   
    font-size:50px;
    color:red;
    float:left;  
  }

  ion-card{
    height:250px;
    // width:400px;
  }

  ion-card-subtitle{
    color:black;
  }

    ion-fab-button{
      --background: rgb(13, 181, 223);
    }
 