<ion-header>
  <ion-toolbar>
    <ion-title>sliders</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1></h1>

      <div class="container-form-btn">


      

      

      <ion-fab slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-forward" (click)="btnClicked()"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </div>

    </ion-slide>

 

  

  </ion-slides>

 


</ion-content>