
.background{
    display: flex;
    background-color: #3dc2ff;
    height:100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
    color: yellow;
}

ion-button{
  --background:yellow;
  --color:black;
  font-family: Josefin Sans;
}