
.background{
    display: flex;
    background-color: #3dc2ff;
    height:100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
    color: yellow;
}

ion-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --background:yellow;
  --color:black;
  font-family: Josefin Sans;
}

ion-card{
  background-color: rgb(199, 199, 143);
}

.edit{
  display: flex;
  font-size: 30px;
  color: green;
  margin-left: 10px;
}

.text{
  margin-left: 10px;
}