<!-- <ion-header class="ion-no-border">
  <ion-toolbar> -->
    <!-- <ion-buttons>
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-title>profile</ion-title> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="wrapper">
  <div class="shape">

    <ion-buttons>
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>

    <p style="text-align: center; font-size: 24px; margin-top: -10px;">profile</p>

  <ion-card class="ion-margin-start">
    <img src="{{restaurant?.img}}">
  <!-- </ion-avatar> -->

  <ion-grid>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Restaurant Name: {{restaurant?.name}}
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Registration Number: {{restaurant?.regnumber}}
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Restaurant Email: {{restaurant?.email}}
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Address: {{restaurant?.address}}
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Telephone: {{restaurant?.telephone}}
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

  </ion-grid>
  </ion-card>

  <ion-icon class="edit" [routerLink]="'/edit-restaurant/' +restaurant?.restId" name="create-outline"></ion-icon><p class="text">Edit</p>

  <!-- <div class="container-form-btn">
    <ion-button [routerLink]="'/edit-restaurant/' +restaurant?.restId"> Edit</ion-button>
  </div> -->

 
</div>
</div>

</ion-content>