ion-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: red;
    width:120px;
    margin-top: 80px;
    margin-left: 30px;

}

ion-card-title{
    justify-content: center;
    align-items: center;
}

.card2{
    margin-left: 200px;
    margin-top: -150px;
}

ion-icon {
    --ionicon-stroke-width: 16px;
    height: 60px;
    color: black;
  }

  ion-icon {
    font-size: 64px;
  }

.card4{
    margin-left: 200px;
    margin-top: -150px;

}

.card3{
    margin-top: 50px;

}

.background{
    background-color: #00ffff;
    height:590px;
    width: 100%;
    margin-top:-3px;
}

.log{
    height: 30px;
}