<!-- <ion-header [translucent]="true">
  
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="background">
    <div class="img">
      <img style="width:100px;" src="./assets/diner.png" />
    </div>

    <div class="left">
      <div class="restu">
        <ion-button routerLink="/register" size="large" color="light">Restaurant</ion-button>
      </div>
  
      <div class="user">
        <ion-button routerLink="/user-register" size="large" color="light">User</ion-button>
      </div>
    </div>

  </div>

</ion-content>