// .container{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: #3dc2ff;
//   height:100%;
// }

// ion-content{
//   background: #3dc2ff;
// }

.background{
  display: flex;
  background-color: #3dc2ff;
  height:100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}

// .container h1{
//   display:flex;
//   font-size: 8px;
//   align-items: center;
  

img{
  display: flex;
  width:250px;
  // height:100px;
  // margin-top: 200px;
  margin-left: 50px;
  
}
