// .container{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: #3dc2ff;
//   height:100%;
// }

// ion-content{
//   background: #3dc2ff;
// }
ion-content{
  --background: #57855E;
}

// .restu{
//   background-color: yellow;
// }

.background{
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}

// .container h1{
//   display:flex;
//   font-size: 8px;
//   align-items: center;
  

// img{
  // display: flex;
  // width:300px;
  // height:100px;
  // margin-top: 200px;
  // margin-left: 20px; 
// }

// .restu{
//   display: flex;
//   flex-direction: row;
//   font-size: 8px;
//   margin-top: 400px;
//   margin-left: -300px;
//   padding:right;
//   box-shadow: 0 10px 30px 0px rgba(110, 118, 124, 0.5);
// }

// .user{
//   display:flex;
//   flex-direction: row;
//   margin-top: 400px;
//   color:grey;
//   box-shadow: 0 10px 30px 0px rgba(127, 133, 138, 0.5);
// }

.left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color:brown;
  
}

ion-button{
  display: flex;
  flex-direction: row;
  --background: #F7E652;
  color: black;
  width: 120px;
}