.content{
    width: 100%;
    height: 100%;
    background-color: orangered;
}

.design{
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

ion-icon{
    font-size: 30px;
    color: green;
    margin-left: 80px;
}