<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="user-tabs/explore-restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center custom-font">User Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>

  <div class="content">
    <div class="design">

    <ion-buttons>
      <ion-back-button defaultHref="user-tabs/explore-restaurants"></ion-back-button>
    </ion-buttons>

    <h2 style="text-align: center;">Profile</h2>

  

  <ion-avatar class="ion-margin-start">
    <!-- <img src="./assets/avatar1.png"> -->
    <img src="{{user?.img}}">
  </ion-avatar>
  <!-- <ion-icon name="create-outline"></ion-icon> -->

  <ion-grid>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Firstname: {{user?.firstname}} 
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
           Lastname: {{user?.lastname}} 
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-item> -->
          <ion-label>
            Email: {{user?.email}} 
          </ion-label>
        <!-- </ion-item> -->
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- <ion-button (click)="newUser()">new user</ion-button> -->
</div>
</div>
</ion-content>
