<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font"></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="content">

      <div class="img">
        <img style="width:100px;" src="./assets/diner.png" />
      </div>

      <div class="ion-padding">

        <form [formGroup]="registerForm" (ngSubmit)="btnClicked()" class="ion-padding">

          <div class="wrap-input">
            <input class="input" type="text" formControlName="name" placeholder="Name">
          </div>

          <div class="wrap-input">
            <input class="input" type="text" formControlName="email" placeholder="Email">
          </div>

          <div class="wrap-input">
            <input class="input" type="text" formControlName="telephone" placeholder="Telephone Number">
          </div>

          <div class="wrap-input">
            <input class="input" type="password" formControlName="password" placeholder="Password">
          </div>

          <div class="container-form-btn">
            <button (click)="btnClicked()" class="form-btn custom-font">
              Sign Up
            </button>
          </div>

        </form>
      </div>

    </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Already have an account?
      <a href="login">Sign In</a>
    </p>
  </ion-toolbar>
</ion-footer>